<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Verification Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        color: #333;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
      }
      h3 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
      }
      h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        color: black;
      }
      .footer {
        padding: 10px 0;
        text-align: center;
        font-size: 12px;
        color: #777;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>
        Betuptip <br />
        Explore the world of endless possibilities with future predictions that
        give you a better stand.
      </p>
      <h3>Your Reset Verification Code</h3>
      <h1><%= otpCode %></h1>
      <p>Join and stay tuned for more important updates.</p>
      <div class="footer">© Copyright. betuptip.com</div>
    </div>
  </body>
</html>
